
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Travel Easy Trip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="index.html"><img src="~/web/images/logo.png" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>WhatsApp : +91 00000-55555</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Home/Index/">Ana Sayfa</a></li>
                <li><a class="hsubs" href="/About/Index/">Hakkımızda</a></li>
                <li>
                    <a class="hsubs" href="#">Rehber</a>
                    <ul class="subs">
                        <li><a href="#">Oteller</a></li>
                        <li><a href="#">Restoranlar</a></li>
                        <li><a href="#">Müzeler</a></li>
                    </ul>
                </li>
                <li><a class="hsubs" href="/Blog/Index">Bloğum</a></li>
                <li><a href="contact.html">İletişim</a></li>
            </ul>
        </div>
    </div>

    <div class"content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2013 Easy-Trip. All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>

