@using EasyTripProject.Models.Entities
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @{
                foreach (var item in Model)
                { <img src="@item.PhotoURL" alt="" />
                    <p>@item.Description</p>
                }
            }

        </div>
    </div>
</div>

