@using EasyTripProject.Models.Entities
@model List<Blog>

<div class="padding">
    <h4>En Popüler 10 Blog</h4>
    <ul class="list list-pad">
        @{
            int counter = 1;
            foreach (var item in Model)
            {
                <li class="list-bg"><span>@counter</span><a href="/Blog/BlogDetail/@item.BlogId">@item.Title</a></li>
                counter += 1;
            }
        }
    </ul>
    <a href="/Blog/Index" class="link1">Tüm Bloglarımı Gör</a>
</div>
